#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  background: #282728;
  transition: 0.5s;
}
#cube-loader .caption {
  margin: auto;
}
#cube-loader .cube-loader {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 576.98px) {
  #cube-loader .cube-loader {
    width: 300px;
  }
}
#cube-loader .preloader-logo {
  width: 100%;
}
#cube-loader .preloader-nutsone {
  width: 50px;
  position: absolute;
  left: 77%;
  top: 30%;
  transform: translate(-50%, -50%);
  animation: cube ease-in-out 2.5s reverse infinite;
}
#cube-loader .preloader-nutstwo {
  width: 35px;
  position: absolute;
  left: 65%;
  top: 94%;
  transform: translate(-50%, -50%);
  -webkit-animation: cube linear 2.5s infinite;
          animation: cube linear 2.5s infinite;
}

#cube-loader.done {
  transition: 0.5s;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes cube {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cube {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}