.main
    position: relative
    
    
.section-two
    position: relative
    overflow: hidden
    // background: url('../img/bg2.png') top center / cover no-repeat
    padding-top: 170px
    @media (max-width: 1199px)
        padding-top: 150px
    @media (max-width: 991.98px)
        padding-top: 130px
    @media (max-width: 767.98px)
        padding-top: 80px
    @media (max-width: 576.98px)
        padding-top: 40px
.keys-block
    background: url('../img/keys.webp') center right / cover no-repeat
    border-radius: 22.6px
    padding: 35px 30px 51px 28%
    max-width: 866px
    margin: auto
    margin-bottom: 107px        
    @media (max-width: 991.98px)
        padding: 10%
        margin-bottom: 60px

.key-block 
.key__title
    display: inline-block 
    font-weight: 500
    font-size: 18px
    line-height: 22px
    padding: 12px 37px
    background: rgba(255, 255, 255, 0.51)
    border-radius: 7.5px
    margin-bottom: 30px
    @media (max-width: 576.98px)
        margin-bottom: 15px
        width: 100%
        padding: 15px 5px
        text-align: center
        border-radius: 6px
        font-size: 17px
    @media (max-width: 320px)
        padding: 10px 5px
        
.key__description
    font-weight: 400
    font-size: 23px
    line-height: 28px
    margin-bottom: 33px
    @media (max-width: 576.98px)
        margin-bottom: 15px
        font-size: 22px
    @media (max-width: 320px)
        line-height: 34px
        font-size: 20px
    div
        display: inline

.key__popup
    display: inline-block
    padding: 16px 36px
    font-weight: 500
    font-family: 'Montserrat'
    @media (max-width: 576.98px)
        padding: 15px 5px
    @media (max-width: 320px)
        padding: 10px 5px

//===============================================================



.title-one
    margin-bottom: 50px
    @media (max-width: 991.98px)
        margin-bottom: 40px
    @media (max-width: 767.98px)
        margin-bottom: 30px
    .title-block  
        @media (max-width: 576.98px)
            max-width: 300px
.principle-blocks
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center 
    margin-bottom: 100px        
    @media (max-width: 991.98px)
        margin-bottom: 60px
    @media (max-width: 576.98px)
        justify-content: center
.principle__item
    padding: 0px 0px 20px 10px
    display: flex
    width: 400px
.principle__img
    @media (max-width: 576.98px)
        padding-top: 3%
        flex: 0 0 25%
        img
            max-width: 100% 
.principle__text
    padding-left: 5px
    color: #000000
.principle__title
    font-weight: 500
    font-size: 19px
    line-height: 23px
    display: block 
    margin-bottom: 10px
.principle__desription
    font-weight: 400
    font-size: 13px
    line-height: 17px 
.principle__item:nth-child(5)
    margin-left: 50px
    @media (max-width: 1199px)
        margin-left: 0

//===============================================================



.title-two
    margin-bottom: 21px 
.subtitle-two 
    margin-bottom: 76px
    @media (max-width: 767.98px)
        margin-bottom: 60px
    @media (max-width: 576.98px)
        margin-bottom: 50px
