.section-three 
    overflow: hidden
    // background: url('../img/bg3.png') top center / cover no-repeat
    padding-top: 100px
    @media (max-width: 767.98px)
        padding-top: 80px
.title-service 
    font-weight: 500
    font-size: 26px
    line-height: 32px
    text-align: center
    margin-bottom: 52px
    @media (max-width: 767.98px)
        margin-bottom: 50px
    @media (max-width: 576.98px)
        margin-bottom: 40px
        font-size: 25px
.numbers
    display: flex
    justify-content: space-between
    margin-bottom: 137px 
    @media (max-width: 991.98px)
        flex-wrap: wrap
        justify-content: space-around
        margin-bottom: 100px
    @media (max-width: 576.98px)
        margin-bottom: 60px
        justify-content: flex-start
.number-item 
    display: flex
    flex-direction: column
    align-items: center
    flex: 0 1 33%
    @media (max-width: 576.98px)
        flex-direction: row
        flex: 0 1 100%
    
.number 
    text-shadow: 3px 4px 0px #776313
    font-style: normal
    font-weight: 500
    font-size: 106px
    line-height: 129px
    margin-bottom: 20px
    @media (max-width: 991.98px)
        font-size: 100px
    @media (max-width: 576.98px)
        flex: 0 1 30%
        font-size: 58px
        line-height: 100px
        text-align: center
        margin-bottom: 0
        padding-right: 10px
.number__text 
    font-weight: 400
    font-size: 23px
    line-height: 28px
    text-align: center
    max-width: 275px
    @media (max-width: 576.98px)
        display: block
        text-align: left
        flex: 0 1 75%
        max-width: 100%
        font-size: 22px
        line-height: 25px
    @media (max-width: 320px)
        font-size: 16px
        line-height: 25px

//===============================================================


.title-three 
    margin-bottom: 52px
.section__slider-three
    width: 90%
    margin-bottom: 130px
    @media (max-width: 576.98px)
        width: 100%
    

.slider-three__item
    overflow: hidden
    background: #FFFFFF
    margin: 0px 10px
    color: #000000
    border-radius: 7.5px
    text-align: left
    display: flex
    align-items: center
    flex-direction: column
    // @media (max-width: 767.98px)
    //     align-self: flex-start
    
.slider-item__img 
    width: 100%
    padding-top: 75%
.slider__img 
    max-width: 100%
    height: auto

.slider-item__content
    height: 100%
    max-width: 100%
    padding: 26px 16px 30px 25px
    display: flex
    flex-direction: column
    justify-content: space-between
    @media (max-width: 991.98px)
        padding: 25px 25px 30px
    @media (max-width: 576.98px)
        padding: 20px 20px 25px
    // @media (max-width: 767.98px)
    //     height: auto
.slider-item__content-up
.slider-item__content-down
.slider-item__title
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 24px 
    margin-bottom: 15px
    @media (max-width: 576.98px)
        font-size: 20px
        line-height: 24px
.slider-item__block
    ul
        margin-bottom: 50px
        @media (max-width: 991.98px)
            margin-bottom: 40px
        @media (max-width: 576.98px)
            margin-bottom: 30px 
.slider-item__block
    li
        position: relative
        padding-left: 20px
        font-weight: 400
        font-size: 15px
        line-height: 18px
        margin-bottom: 12px
        @media (max-width: 991.98px)
            margin-bottom: 10px
            line-height: 20px
            font-size: 18px

        @media (max-width: 576.98px)
            line-height: 16px
            font-size: 16px

        &:before
            content: ''
            display: block
            width: 10px
            left: 0
            top: 5px
            border-radius: 50%
            height: 10px
            position: absolute
            background: #F2C81C
            @media (max-width: 576.98px)
                width: 10px
                height: 10px
                top: 3px
            
.slider-item__price
    font-weight: 400
    font-size: 16px
    line-height: 19px 
    margin-bottom: 25px
    span
        font-weight: 500
        font-size: 17px
        line-height: 19px
        @media (max-width: 576.98px)
            display: block
.slider-item__popup 
    font-size: 15px
    padding: 11px 21px
    display: inline-block
        



.step-slider__controls
    display: none
    @media (max-width: 576.98px)
        display: block
.slick-dots
    display: flex
    align-items: center
    justify-content: center
    margin-top: 10px
    li
        button
            font-size: 0
            width: 10px
            height: 10px
            background-color: transparent
            border: 1px solid #ffffff
            border-radius: 50%
            margin: 0px 10px
            transition: 1s
        &.slick-active
            button
                background-color: #FFCC00