
// указание размера адаптивного шрифта
// @include adaptiv-font(50,20)
.wrapper
    position: relative
.header
    overflow: hidden
    // background: url('../img/bg-header.png') center / cover no-repeat
    padding-top: 128px
    @media (max-width: 1199px)
        padding-top: 118px
    @media (max-width: 991.98px)
        padding-top: 96px
    @media (max-width: 576.98px)
        padding-top: 67px




//===============================================================
.navbar-header
    height: 128px
    position: absolute
    top: 0
    width: 101%
    left: 0
    @media (max-width: 1199px)
        height: 118px
    @media (max-width: 991.98px)
        height: 96px
    @media (max-width: 991.98px)
        height: 91px
    @media (max-width: 576.98px)
        height: 67px
.navbar 
    display: flex
    justify-content: space-between 
    align-items: center
    padding: 25px 0px
    @media (max-width: 1199px)
        padding: 20px 0px
    @media (max-width: 991.98px)
        padding: 15px 0px
    @media (max-width: 767.98px)
        padding: 15px
        border-bottom: 1px solid rgba(255, 255, 255, 0.25)
        position: relative
        z-index: 15
    @media (max-width: 576.98px)
        padding: 15px 10px
.fixed
    position: fixed
    z-index: 122
    transition: 0.5s
    background: #282728
    .navbar
        @media (max-width: 767.98px)
            border-bottom: none
    // background: #ffffff



        
.navbar-item
.navbar__logo
    @media (max-width: 1400px) 
        flex: 0 1 auto
    display: flex
    max-width: 400px
    @media (max-width: 991.98px)
        width: 300px
        align-items: center
    @media (max-width: 767.98px)
        position: relative
        z-index: 20
    img
        @media (max-width: 576.98px)
            width: 95px
        width: 100%
.navbar__logo-desription
    padding-left: 10px
    font-weight: 300
    font-size: 18px
    line-height: 22px
    max-width: 182px
    @media (max-width: 991.98px)
        min-width: 120px 
        line-height: 16px
        font-size: 14px
    @media (max-width: 767.98px)
        line-height: 12px
        font-size: 12px
    @media (max-width: 576.98px)
        font-size: 10px
        width: 140px
        line-height: 12px
    @media (max-width: 320px)
        font-size: 8px
        width: 120px
        line-height: 10px

.navbar__mail 
    @media (max-width: 1400px)
        display: none
    @media (max-width: 767.98px)
        display: block
        margin-bottom: 10px
.data 
    display: flex
    align-items: center
    padding: 7px 0px
    font-weight: 300
    font-size: 20px
    line-height: 24px
    transition: 0.5s
    color:  #FFFFFF
    @media (max-width: 1199px)
        font-size: 18px
    @media (max-width: 991.98px)
        padding: 4px 0px
    @media (max-width: 576.98px)
        font-size: 16px
        line-height: 20px
    @media (max-width: 320px)
        font-size: 14px
        line-height: 20px
    img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
.data__img
    padding-left: 50px
    position: relative
    img
        @media (max-width: 320px)
            width: 25px 
    
.mail
.mail:hover
    transition: 0.5s
    color: #FFCC00
.time
    font-size: 18px 

    @media (max-width: 1199px)
        font-size: 16px
.time:hover
    color: #FFCC00
    transition: 0.5s

        
.navbar__contact
    @media (max-width: 767.98px)
        margin-bottom: 25px
    
.phone
.navbar-phone 
    color: #FFCC00 
    font-weight: 500
    font-size: 22px
    transition: 0.5s
    border-bottom: 1px solid transparent
    @media (max-width: 1199px)
        font-size: 18px
    @media (max-width: 991.98px)
        font-size: 16px
    @media (max-width: 767.98px)
        color:#ffffff
    @media (max-width: 576.98px)
        font-size: 14px
    @media (max-width: 320px)

        line-height: 18px


.navbar-phone:hover
    border-bottom: 1px solid #FFCC00
    transition: 0.5s
.navbar__callback
    @media (max-width: 767.98px)
        margin-left: 10px

.navbar__popup 
    border: 1px solid #FFFFFF
    border-radius: 10px 
    padding: 20.5px 25px
    max-width: 217px
    font-weight: 400
    font-size: 20px
    color: #FFFFFF
    transition: 0.5s
    @media (max-width: 1199px)
        font-size: 16px 
    @media (max-width: 991.98px)
        padding: 15px 20px
    @media (max-width: 576.98px)
        padding: 15px 20px
    @media (max-width: 576.98px)
        padding: 10px 15px
        font-size: 15px
.navbar__popup:hover
    transition: 0.5s
    border: 1px solid transparent
    color: #000000  
    background: #FFCC00
.popup-link 



.burger
    display: none
    @media (max-width: 767.98px)
        display: flex
        align-items: center
.mobile__phone
    img
        max-width: 100%
    margin-right: 15px
    width: 20px
    height: 20px


//===============================================================

.header__menu 
    position: relative
    border-top: 1px solid rgba(255, 255, 255, 0.25)
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
    @media (max-width: 767.98px)
        border: none
        z-index: 10
        opacity: 0
        visibility: hidden
        position: fixed
        width: 70%
        padding-bottom: 50px
        left: -75%
        transition: 0.5s
        top: 0
        background: #282728
.header__menu.show
    left: 0
    transition: 0.5s

.container 
.menu
    @media (max-width: 767.98px)
        flex-direction: column
        margin-top: 100px
        align-items: flex-start
        justify-content: space-between
    @media (max-width: 576.98px)
        margin-top: 80px
    @media (max-width: 320px)
        margin-top: 60px
.row 
.menu-items
    flex: 63%
    max-width: 1220px
    justify-content: space-between
    @media (max-width: 767.98px)
        align-items: flex-start
        flex-direction: column
        flex-wrap: wrap
    
.menu-item 
    margin: 5px
    font-weight: 400
    font-size: 22px
    transition: 0.3s
    color: #ffffff
    display: block
    @media (max-width: 1199px)
        font-size: 18px
    @media (max-width: 991.98px)
        font-size: 16px
    @media (max-width: 767.98px)
        font-size: 20px
        margin: 10px
    @media (max-width: 576.98px)
        font-size: 18px
        margin: 10px
    @media (max-width: 320px)
        font-size: 16px
        margin: 7px
        
.menu-item:hover
    color: #FFCC00
    transition: 0.3s
.menu__social
    text-align: right
    @media (max-width: 767.98px)
        text-align: center
        
    

.social-item
    display: inline-block
    margin: 15px 0px 15px 25px
    @media (max-width: 991.98px)
        width: 39px
        height: 39px
    @media (max-width: 767.98px)
        margin: 15px
    @media (max-width: 576.98px)
        margin: 12px
    @media (max-width: 320px)
        width: 29px
        height: 29px
        margin: 10px 8px
    img
        max-width: 100%
.social-img
    transition: 0.2s

.social-img:hover
    margin-top: -5px
    transition: 0.2s
        



//===============================================================


.header__content
    display: flex
.header__main 
    flex: 0.9
    @media (max-width: 1600px)
        flex: 1
        min-width: 836px
    @media (max-width: 1199px)
        min-width: 750px
    @media (max-width: 991.98px)
        min-width: 100%
    @media (max-width: 767.98px)
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
    @media (max-width: 576.98px)
        justify-content: flex-start
.header__title 
    font-weight: 600
    font-size: 66px
    line-height: 80px
    padding-top: 127px
    margin-bottom: 20px
    @media (max-width: 1400px)
        padding-top: 100px
        line-height: 70px
    @media (max-width: 1199px)
        padding-top: 60px
        line-height: 65px
    @media (max-width: 991.98px)
        font-size: 50px
        line-height: 50px
    @media (max-width: 767.98px)
        padding-top: 40px
        text-align: center
    @media (max-width: 576.98px)
        font-size: 40px
        padding-top: 30px
        margin-bottom: 10px
        text-align: center
    @media (max-width: 320px)
        font-size: 35px
        line-height: 40px
.header__subtitle 
    font-weight: 300
    font-size: 28px
    line-height: 34px
    margin-bottom: 80px
    @media (max-width: 1199px)
        margin-bottom: 30px
    @media (max-width: 991.98px)
        font-size: 25px
    @media (max-width: 767.98px)
        max-width: 290px
        font-size: 23px
        text-align: center
    @media (max-width: 576.98px)
        font-size: 20px
        line-height: 28px
    @media (max-width: 320px)
        font-size: 18px
        line-height: 26px
        
.header__points 
    display: flex
    margin-bottom: 82px
    @media (max-width: 1199px)
        margin-bottom: 40px
        flex-direction: column
    @media (max-width: 767.98px)
        // flex-direction: row
        // flex-wrap: wrap
        justify-content: space-around
    @media (max-width: 576.98px)
        margin-bottom: 0px
    @media (max-width: 320px)
        padding: 0 40px
.header__point
    font-weight: 400
    font-size: 20px
    line-height: 24px
    max-width: 270px
    position: relative
    padding-left: 55px
    margin-right: 50px
    margin-bottom: 30px
    @media (max-width: 767.98px)
        font-size: 18px
        margin-right: 20px
    @media (max-width: 576.98px)
        margin-right: 0
        margin-bottom: 20px
    @media (max-width: 320px)
        font-size: 14px
        line-height: 20px
        margin-bottom: 20px
    img
        position: absolute
        left: 0
        top: 0 
        @media (max-width: 320px)
            width: 35px
.header__forms
    margin-bottom: 180px
    @media (max-width: 1400px)
        margin-bottom: 150px
    @media (max-width: 1199px)
        margin-bottom: 130px
    @media (max-width: 991.98px)
        margin-bottom: 100px
    @media (max-width: 767.98px)
        margin-bottom: 80px
    @media (max-width: 576.98px)
        width: 100%
        padding: 0px 40px
        margin-bottom: 40px
        
    form
        @media (max-width: 767.98px)
            display: flex
            flex-direction: column
            align-items: center
.header__forms-title 
    font-weight: 500
    font-size: 22px
    line-height: 27px
    margin-bottom: 25px
    display: inline-block
    @media (max-width: 576.98px)
        font-size: 15px
        line-height: 16px
    @media (max-width: 576.98px)
        font-size: 13px
        margin-bottom: 15px
.input-phone
    background: #FFFFFF
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.4)
    border-radius: 10px 
    color: rgba(0, 0, 0, 0.38)
    font-weight: 400
    font-size: 22px
    line-height: 27px
    padding-left: 30px
    @media (max-width: 1199px)
        font-size: 18px
    
.header__phone 
    margin-right: 20px
    width: 400px
    height: 73px
    @media (max-width: 1199px)
        width: 350px
    @media (max-width: 767.98px)
        margin-right: 0
        height: 63px
    @media (max-width: 576.98px)
        height: 50px
        width: 100%
        color: rgba(0, 0, 0, 0.38)
        font-size: 13px
        padding-left: 20px
    @media (max-width: 320px)
        height: 40px



.header__button 
    width: 400px
    height: 73px
    @media (max-width: 1199px)
        width: 350px
    @media (max-width: 767.98px)
        height: 63px
    @media (max-width: 576.98px)
        height: 50px
        font-size: 16px
        line-height: 15px
    @media (max-width: 320px)
        height: 40px
        font-size: 13px
    position: relative
    animation: run 1s infinite
    margin-top: 20px
    &:before
        content: ''
        display: block
        width: 30px
        height: 19px
        top: 50%
        transform: translateY(-50%)
        position: absolute
        background: url('../img/button-left.svg') center / cover no-repeat
        animation: run-left linear 1s alternate infinite
        @media (max-width: 576.98px)
            animation: run-left-mini linear 0.8s alternate infinite
            width: 20px
            height: 10px
            top: 52%

    &:after
        content: ''
        display: block
        width: 30px
        right: 0
        top: 50%
        transform: translateY(-50%)
        height: 19px
        position: absolute
        background: url('../img/button-right.svg') center / cover no-repeat
        animation: run-right linear 1s alternate infinite
        @media (max-width: 576.98px)
            animation: run-right-mini linear 0.8s alternate infinite
            width: 20px
            height: 10px
            top: 52%

.button 
    font-family: 'Inter'
    background: linear-gradient(91.82deg, #FFCC00 2.68%, #F4CD40 69.26%), #FFCC00;
    box-shadow: 4px 5px 0px #D3AC0E
    border-radius: 10px
    color: #000000
    font-weight: 400
    font-size: 22px
    line-height: 27px
    transition: 0.8s
    @media (max-width: 1199px)
        font-size: 18px
    @media (max-width: 576.98px)
        width: 100%
        text-align: center
        box-shadow: 2.26471px 2.83088px 0px #D3AC0E
        border-radius: 5.66176px

.button:hover
    transition: 0.5s
    background: linear-gradient(91.82deg, #FFCC00 2.68%, #F4CD40 69.26%), #FFCC00
    box-shadow: 0px 2px 31px rgba(245, 218, 110, 0.6), 4px 5px 0px #D3AC0E
          
.header__men 
    display: flex
    align-items: flex-end
    @media (max-width: 1199px)
        margin-left: -70px
    @media (max-width: 991.98px)
        display: none

@keyframes run-left
    0% 
        left: 3%
    60%
        opacity: 1
    100% 
        left: 10%
        opacity: 0
@keyframes run-right
    0% 
        right: 2%
    60%
        opacity: 1
    100% 
        right: 9%
        opacity: 0

@keyframes run-left-mini
    0% 
        left: 0%
    60%
        opacity: 1
    100% 
        left: 3%
        opacity: 0
@keyframes run-right-mini
    0% 
        right: 0%
    60%
        opacity: 1
    100% 
        right: 3%
        opacity: 0  