.parallax    
    position: absolute
    width: 100%
    height: 100%
.header-bg
    overflow: hidden
    height: vw(2400px)
    @media (max-width: 991.98px)
        height: vw2(2170px)
        background-attachment: inherit
        background-size: 100% 100%
    @media (max-width: 576.98px)
        height: vw3(1770px)
.bullet_1
    left: -1% !important
    top: 30% !important
    width: vw(155px)
    height: vw(113px)
    @media (max-width: 991.98px)
        position: absolute
        top: 15% !important
    @media (max-width: 576.98px)
        top: 10% !important
.bullet_2
    left: 87% !important
    top: vw(-100px) !important
    width: vw(172px)
    height: vw(203px)
    @media (max-width: 991.98px)
        position: absolute
        width: vw2(106px)
        height: vw2(125px)
        top: vw2(-60px) !important
        left: 80% !important
    @media (max-width: 576.98px)
        top: vw3(-50px) !important
        left: 65% !important
        width: vw3(86px)
        height: vw3(102px)
.bullet_3
    left: 78% !important
    top: 53% !important

    @media (max-width: 991.98px)
        position: absolute
        width: vw2(107px)
        height: vw2(101px)
        top: vw2(-40px) !important
        left: 78% !important
    @media (max-width: 576.98px)
        top: vw3(-30px) !important
        width: vw3(79px)
        height: vw3(74px)
.bullet_4
    left: 2% !important
    top: 32% !important
    width: vw(111px)
    height: vw(105px)
    @media (max-width: 991.98px)
        position: absolute
        width: vw2(93px)
        height: vw2(88px)
        top: 37% !important
        left: 0% !important
    @media (max-width: 576.98px)
        top: 39% !important
        left: -5% !important
        width: vw3(66px)
        height: vw3(62px)
.bullet_5
    left: 83% !important
    top: 84% !important
    width: vw(128px)
    height: vw(151px)
    @media (max-width: 991.98px)
        position: absolute
        width: vw2(102px)
        height: vw2(119px)
        top: 75% !important
        left: 81% !important
    @media (max-width: 576.98px)
        top: 75% !important
        left: 75% !important
        width: vw3(76px)
        height: vw3(89px)
.bullet_6
    left: -5% !important
    top: 35% !important
    width: vw(170px)
    height: vw(124px)
    @media (max-width: 991.98px)
        position: absolute
        width: vw2(153px)
        height: vw2(112px)
        top: 40% !important
        left: -10% !important
    @media (max-width: 576.98px)
        top: 68% !important
        left: -10% !important
        width: vw3(84px)
        height: vw3(61px)
.bullet_7
    left: 87% !important
    top: 75% !important
    width: vw(147px)
    height: vw(106px)
    @media (max-width: 991.98px)
        position: absolute
        width: vw2(121px)
        height: vw2(88px)
        top: 75% !important
        left: 78% !important
    @media (max-width: 576.98px)
        top: 88% !important
        left: 78% !important
        width: vw3(79px)
        height: vw3(58px)

.rullet_2
    left: 43% !important
    top: 52% !important
    width: vw(260px)
    height: vw(260px)
    @media (max-width: 991.98px)
        position: absolute
        width: vw2(197px)
        height: vw2(197px)
        top: 52% !important
        left: 87% !important
    @media (max-width: 576.98px)
        top: 51% !important
        left: 81% !important
        width: vw3(123px)
        height: vw3(123px)
.lebovski-bg
    overflow: hidden
    height: vw(1172px)
    @media (max-width: 991.98px)
        height: vw2(1172px)
    @media (max-width: 576.98px)
        height: vw3(1000px)

.bullet_8
    left: 0% !important
    top: 21% !important
    width: vw(134px)
    height: vw(127px)
    @media (max-width: 991.98px)
        position: absolute
        width: vw2(54px)
        height: vw2(51px)
        top: 25% !important
        left: 17% !important
    @media (max-width: 576.98px)
        display: none
.bullet_9
    left: 87% !important
    top: 45% !important
    width: vw(170px)
    height: vw(161px)
    @media (max-width: 991.98px)
        position: absolute
        width: vw2(84px)
        height: vw2(79px)
        top: 54% !important
        left: 75% !important
    @media (max-width: 576.98px)
        top: 45% !important
        left: -5% !important
        width: vw3(69px)
        height: vw3(65px)
.bullet_10
    left: 1% !important
    top: 67% !important
    width: vw(142px)
    height: vw(166px)
    @media (max-width: 991.98px)
        position: absolute
        width: vw2(100px)
        height: vw2(117px)
        top: 70% !important
        left: 56% !important
    @media (max-width: 576.98px)
        top: 69% !important
        left: 78% !important
        width: vw3(69px)
        height: vw3(81px)
.advertising__parallax
    overflow: hidden
    margin-top: -18%
.bullet_11
    left: 91% !important
    top: 6% !important
    width: vw(212px)
    height: vw(154px)
    @media (max-width: 991.98px)
        display: none