.section__slider
    display: block
    text-align: center
    position: relative
    width: 90%
    margin: 0 auto 150px
    @media (max-width: 767.98px)
        width: 80%
        margin: 0 auto 130px

    @media (max-width: 576.98px)
        width: 75%
        margin: 0 auto 80px
.slider-one
    .slick-track
        align-items: center
.slider__item
    text-align: center
    padding: 0px 5px
    picture
        img
            max-width: 100%
            height: 65px
            @media (max-width: 991.98px)
               height: 50px
            @media (max-width: 576.98px)
                height: 44px
.slick-slider
    position: relative
.slick-track,
.slick-list
    position: relative
    overflow: hidden
.slick-track
    position: relative
    width: 100%
    display: flex
.slick-slide 
    position: relative
.slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 10
    font-size: 0
    width: 44px
    height: 44px 
    background: #5A5A5A
    border-radius: 50%
    @media (max-width: 991.98px)
        width: 40px
        height: 40px

.slick-prev
    @media (max-width: 767.98px)
        left: -10%
    @media (max-width: 576.98px)
        left: -17%
    @media (max-width: 320px)
        left: -20%
    left: -7%
    &:after,&:before 
        content: ''
        width: 15px 
        height: 2px
        background-color: #fff
        position: absolute
        transition: 0.3s
        @media (max-width: 991.98px)
            width: 13px
    &:before
        top: 26px
        right: 17px
        transform: rotate(45deg)
        @media (max-width: 991.98px)
            top: 22px
            right: 15px
    &:after
        top: 16px
        right: 17px
        transform: rotate(-45deg)
        @media (max-width: 991.98px)
            top: 14px
            right: 15px
.slick-next
    @media (max-width: 767.98px)
        right: -10%
    @media (max-width: 576.98px)
        right: -17%
    @media (max-width: 320px)
        right: -20%
    right: -7%
    &:after,&:before 
        content: ''
        width: 15px 
        height: 2px
        background-color: #fff
        position: absolute 
        transition: 0.3s
        @media (max-width: 991.98px)
            width: 13px
    &:before
        top: 26px
        right: 14px
        transform: rotate(-45deg)
        @media (max-width: 991.98px)
            top: 22px
            right: 13px
    &:after
        top: 16px
        right: 14px
        transform: rotate(45deg)
        @media (max-width: 991.98px)
            top: 14px
            right: 13px
.slick-next:hover,.slick-prev:hover,
    &:after,&:before
        transition: 0.3s
        background-color: #FFCC00