#cube-loader {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    background: #282728;
    transition: 0.5s;
    & .caption {
      margin: auto;
    }
    .cube-loader {
      width: 400px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @media (max-width: 576.98px){
        width: 100px;
      }
    }
    .preloader-logo { 
      width: 100%;
    }
    .preloader-nutsone { 
      width: 50px;
      position: absolute;
      left: 77%;
      top: 30%;
      transform: translate(-50%, -50%);
      animation: cube ease-in-out 2.5s reverse infinite;
      @media (max-width: 576.98px){
        width: 15px;
        left: 105%;
        top: 35%;
      }
    }
    .preloader-nutstwo{ 
      width: 35px;
      position: absolute;
      left: 65%;
      top: 94%;
      transform: translate(-50%, -50%);
      animation: cube linear 2.5s infinite;
      @media (max-width: 576.98px){
        width: 10px;
        left: 96%;
        top: 86%;
      }
    }
    
  };
  #cube-loader.done {
    transition: 0.5s;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  @keyframes cube {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
